force-app/main/default/flows/Get_each_product_ID_from_the_product_code_array.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set Products Infomation</description>
        <name>Set_Products_Infomation</name>
        <label>Set Products Infomation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>products</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_ID_based_on_multiple_or_single_product_codes</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Get each product ID from the product code array</description>
    <environments>Default</environments>
    <interviewLabel>Get each product ID from the product code array {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get each product ID from the product code array</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Product ID based on multiple or single product codes</description>
        <name>Product_ID_based_on_multiple_or_single_product_codes</name>
        <label>Product ID based on multiple or single product codes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Products_Infomation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>In</operator>
            <value>
                <elementReference>productCodes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_ID_based_on_multiple_or_single_product_codes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>productCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
